---
import GoogleAnalytics from "../lib/GoogleAnalytics.astro"

const birthYear = 2001
const currentYear = new Date().getFullYear()
const age = currentYear - birthYear
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kacper Potyrała</title>
    <meta
      name="description"
      content={`${age} years old software enginner based in Poland`}
    />
    <meta property="og:title" content="Kacper Potyrała - Space Inside" />
    <meta property="og:image" content="https://kiri.dev/image.jpg" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:creator" content="kapotyrala" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <GoogleAnalytics />
  </head>
  <body>
    <slot />
    <style is:global>
      html,
      body {
        margin: 0;
        padding: 0;
        font-display: optional;
        font-family: "Inter", sans-serif;
      }

      body {
        margin: 0 auto;
        cursor: default;
        max-width: fit-content;
        padding: calc(1em + 1ex);
      }
      a {
        text-decoration: none;
      }

      * {
        line-height: calc(1em + 1ex);
        box-sizing: border-box;
      }

      html {
        background: black;
        color: rgba(255, 255, 255, 0.75);
      }

      h1 {
        line-height: 50px;
        letter-spacing: 0.0625em;
      }

      h2 {
        line-height: 38px;
      }

      h3 {
        line-height: 30px;
      }

      h1,
      h2 {
        text-transform: uppercase;
      }
      h3 {
        font-weight: normal;
      }
      .title {
        font-weight: bold;
      }
      .range {
        margin-top: calc(-0.5rem - 0.5ex);
      }

      a,
      b,
      h1,
      h2,
      .title,
      .project {
        color: white;
      }

      article {
        max-width: 500px;
        margin: calc(1em + 1ex) 0;
      }

      p {
        margin: 0 0 1em;
        line-height: 1.6;
      }

      footer {
        font-size: smaller;
      }
      main ol {
        list-style-type: circle;
      }

      @media (max-width: 800px) {
        article {
          margin: 0;
        }
      }
    </style>
  </body>
</html>
