<div class="contact-wrapper">
  <a href="https://kiri.dev">kiri.dev</a>
  <a href="https://www.linkedin.com/in/kiri" target="_blank"
    >linkedin.com/in/kiri</a
  >
  <a href="https://twitter.com/kapotyrala" target="_blank"
    >twitter.com/kapotyrala</a
  >
  <a href="https://github.com/SerekKiri" target="_blank">github.com/SerekKiri</a
  >
</div>

<style>
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }
</style>
