<div class="contact-wrapper">
  <a href="https://kiri.dev">kiri.dev</a>
  <a href="https://www.linkedin.com/in/kiri" target="_blank"
    >linkedin.com/in/kiri</a
  >
  <a href="https://x.com/kapotyrala" target="_blank">x.com/kapotyrala</a>
  <a href="https://github.com/SerekKiri" target="_blank">github.com/SerekKiri</a
  >
</div>

<style>
  .contact-wrapper {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;
    flex-direction: row;
  }
</style>
