<article class="experience">
  <h2>Experience</h2>

  <section>
    <h3><b>Blazity</b>, Open Source Team Member</h3>
    <span>React, Next</span>
    <p class="timeline">
      <time datetime="2022-12">September 2022</time> - Present
    </p>
    <p>
      After few solid months at <a href="https://blazity.com/" target="_blank"
        ><b>Blazity</b></a
      >, different projects, lots of sweat and refactoring I became a freelance
      team member working on open source.
    </p>
  </section>

  <section>
    <h3><b>Blazity</b>, Software Engineer</h3>
    <span>React, Next</span>
    <p class="timeline">
      <time datetime="2022-12">December 2022</time> - August 2022
    </p>
    <p>
      At <a href="https://blazity.com/" target="_blank"><b>Blazity</b></a> we are
      a group of Next.js specialists responsible for maintaining, refactoring and
      improving all kinds of web products. Currently I'm a part of a team working
      on stabilizing and refactoring shopify like scale product.
    </p>
  </section>

  <section>
    <h3><b>SpaceTeam AGH</b>, Software & Mechanics</h3>
    <span>Astro, Rust, Node</span>
    <p class="timeline">
      <time datetime="2022-10">October 2022</time> - <time datetime="2023-03"
        >March 2023</time
      >
    </p>
    <p>
      I was responsible for Software when it comes to computers for our device,
      api which they were connecting to and an app to controll them. From
      mechanical point of view I was helping with everything I could. Tasks like
      testing newly designed gears or screwing screws into angle coupling on our
      unstable ladder to keep the structure of the TOLRECON machine aligned were
      on daily basis.
    </p>
  </section>

  <section>
    <h3><b>Unikie</b>, Software Engineer</h3>
    <span>React, Next</span>
    <p class="timeline">
      <time datetime="2022-9">September 2022</time> - <time datetime="2022-12"
        >December 2022</time
      >
    </p>
    <p>
      As a developer I was a part of a team outsourced to the <a
        href="https://www.hp.com"
        target="_blank">HP</a
      > R&D department to work on their new product, building it basically from scratch.
    </p>
  </section>

  <section>
    <h3><b>Digital Colliers</b>, Software Engineer</h3>
    <span>Vue, Nuxt, Nest</span>
    <p class="timeline">
      <time datetime="2021-6">June 2021</time> - <time datetime="2022-8"
        >August 2022</time
      >
    </p>
    <p>
      As a developer I was part of the biggest team in the company which was
      focused on building a SaaS solution for the online lottery industry. I was
      also responsbile for delivering multiple performance fixes and overall
      improvements in developer experience from implementing Turborepo in it's
      early days to replacing microservices with proper solution for that
      project. Multiple things were later on implemented in different projects
      across the company based on my experiences.
    </p>
  </section>

  <section>
    <h3><b>Asasak</b>, Software Engineer</h3>
    <span>Vue, Nuxt, Node</span>
    <p class="timeline">
      <time datetime="2019-10">October 2019</time> - <time datetime="2020-12"
        >December 2020</time
      >
    </p>
    <p>
      I joined <b>Asasak</b> as a developer to build the startup from a groundup.
      As a single developer I was responsible for delivering web and desktop apps
      alongside backend, while also managing all of the infrastructure.
    </p>
  </section>

  <section>
    <h3><b>Queris</b>, Software Engineer Internship</h3>
    <span>Angular</span>
    <p class="timeline">
      <time datetime="2019-7">July 2019</time>
    </p>
    <p>
      I was lucky enough to get an opportunity of an internship. I was
      responsible for building first components in Angular of their software
      previously written in C#.
    </p>
  </section>
</article>

<style>
  h3 {
    margin: 0;
  }

  span {
    line-height: 1.6;
  }

  .timeline {
    font-size: 0.8em;
    line-height: 1.6;
  }
</style>
