<footer>
  <p>© 2001 Kacper Potyrała</p>
  <p>
    Built with &hearts; and
    <a href="https://astro.build/"
      ><img
        src="/icons/astro.svg"
        class="navigation-icon"
        alt="Github icon"
        width="20"
        height="20"
      />Astro</a
    >
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  p {
    vertical-align: middle;
    display: inline-block;
  }

  img {
    width: 20px;
    filter: invert(1);
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
  }
</style>
