<article>
  <h2>Skills</h2>

  <section>
    <p>
      I'm mainly focused on Web development, playing with hardware and low level
      technologies in a free time. Building Web apps, Desktop apps and Web apis
      is nothing new to me.
    </p>

    <p>
      My Open Source work can be found on <a
        href="https://github.com/SerekKiri"
        target="_blank"><b>Github</b></a
      >. Mostly you are able find small projects but currently I'm focusing on <a
        href="https://github.com/withastro/astro"><b>Astro</b></a
      >.
    </p>
  </section>

  <section>
    <h3>Web Technologies</h3>
    <p class="technologies">
      React &bull; Next &bull; Astro &bull; Vue &bull; Nuxt
    </p>
  </section>

  <section>
    <h3>Backend Technologies</h3>
    <p class="technologies">Node &bull; Rust &bull; Golang</p>
  </section>
</article>

<style>
  h3 {
    margin: 0;
  }

  .technologies {
    color: white;
    font-weight: bold;
  }
</style>
